*{
	margin:0;
	padding:0;
}
body{
	font-family:monospace;
}
form{
	position:fixed;
	left:0;
	top:25%;
	width: 150px;
	padding: 20px;
	background-color:white;
	border-radius:0 20px 20px 0;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
input{
	-webkit-appearance:none;
	appearance:none;
	display:block;
	font-family:monospace;
}
input[type="text"]{
	border:none;
	padding:10px;
	border-bottom:1px dashed #333;
	font-size:1.5em;
	width:calc(100% - 20px);
}
input[type="submit"]{
	border:1px solid #333;
	border-radius:10px;
	color:#333;
	padding:10px;
	background-color:transparent;
}
.error{
	color:red;
	display:none;
}
.visible{
	display:block;
}
form :not(:first-child){
	margin-top:20px;
}
ul{
	list-style: none;
}
li{
	font-size:3em;
	text-align:center;
	color:white;
	text-shadow:2px 2px 0 black;
	padding:20px;
	cursor:pointer;
}